<a href="https://colab.research.google.com/github/Sh3ra2/python/blob/google-colab/Accident_severity__prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

from google.colab import drive
drive.mount('/content/drive')
# get dataset from the given link and change path accordingly
#Google driveink:-> https://drive.google.com/file/d/1jToN-BrlmxtJh1hWm5OKdo1vWZxXzsfE/view?usp=share_link
#Kagglelink:-> https://www.kaggle.com/datasets/benoit72/uk-accidents-10-years-history-with-many-variables/download?datasetVersionNumber=1
path = "/content/drive/MyDrive/datasets/Accidents0514.csv"

df = pd.read_csv(path)
df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (31) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,...,0,1,1,2,2,0,0,1,1,E01002849
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,...,0,5,4,1,1,0,0,1,1,E01002909
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,0,0,4,1,1,0,0,1,1,E01002857
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,...,0,0,1,1,1,0,0,1,1,E01002840
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,...,0,0,7,1,2,0,0,1,1,E01002863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1640592,2014984136414,310037.0,597647.0,-3.417278,55.264773,98,2,2,1,07/12/2014,...,0,0,6,3,3,0,0,2,1,NaN
1640593,2014984137514,321509.0,574063.0,-3.230255,55.054855,98,3,2,2,11/12/2014,...,0,0,6,1,3,0,0,2,1,NaN
1640594,2014984137714,321337.0,566365.0,-3.230826,54.985668,98,3,1,1,09/12/2014,...,0,0,4,1,4,0,0,2,1,NaN
1640595,2014984138414,323869.0,566853.0,-3.191397,54.990446,98,2,3,2,17/12/2014,...,0,0,6,2,2,0,0,2,1,NaN
1640596,2014984139614,314072.0,579971.0,-3.348426,55.106700,98,3,2,2,24/12/2014,...,0,0,1,1,2,0,0,2,1,NaN

In [ ]:
X = df[[ 'Number_of_Vehicles','Light_Conditions','Road_Surface_Conditions','Urban_or_Rural_Area']]
Y = df['Accident_Severity']

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 100)

In [ ]:
print("Lenth of data set is: ",len(df))
print("Lenth of training data set is: ", len(X_train))
print("Lenth of testing data set is: ", len(X_test))

Lenth of data set is:  1640597
Lenth of training data set is:  1148417
Lenth of testing data set is:  492180

1640597

In [ ]:
from sklearn.tree import DecisionTreeClassifier as DT
from sklearn import metrics

Classifier  = DT()

Classifier = Classifier.fit(X_train , y_train)

In [ ]:
y_prediction = Classifier.predict(X_test)
Accuracy = metrics.accuracy_score(y_prediction, y_test)
print("Accurcay = ",Accuracy*100)

Accurcay =  85.16091673777886